@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --foreground: 222.2 84% 4.9%;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --beige-500: 23 6% 57%;
    --beige-100: 30 36% 96%;
    --grey-900: 252 7% 13%;
    --grey-500: 0 0% 41%;
    --grey-300: 0 0% 70%;
    --grey-100: 0 0% 95%;
    --green: 177 52% 32%;
    --yellow: 28 73% 81%;
    --cyan: 190 52% 68%;
    --navy: 248 8% 41%;
    --red: 7 58% 50%;
    --purple-500: 259 30% 56%;
    --purple-300: 288 29% 62%;
    --turquoise: 28 73% 81%;
    --brown: 190 52% 68%;
    --magenta: 248 8% 41%;
    --blue: 7 58% 50%;
    --navy-grey: 259 30% 56%;
    --army-green: 248 8% 41%;
    --gold: 7 58% 50%;
    --orange: 259 30% 56%;
    --white: 0 0% 100%;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-250: 20px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
    --text-preset-1: 2rem; /* 32px */
    --text-preset-2: 1.25rem; /*20px */
    --text-preset-3: 1rem; /*16px */
    --text-preset-4: 0.875rem; /*14px */
    --text-preset-5: 0.75rem; /* 12px */
    --line-height-1: 1.2;
    --line-height-2: 1.5;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.sidebar {
  transition: all 300ms ease; /* Adjust the duration and easing as needed */
}
